@page
@model TikTakToe.WebApp.Pages.GameModel
@{
}



<div id="board" class="center">
    <div class="tile" id="tile-0">
        <label for="cell-0-x"></label>
        <div></div>
    </div>
    <div class="tile" id="tile-1">
        <label for="cell-1-x"></label>
        <div></div>
    </div>
    <div class="tile" id="tile-2">
        <label for="cell-2-x"></label>
        <div></div>
    </div>
    <div class="tile" id="tile-3">
        <label for="cell-3-x"></label>
        <div></div>
    </div>
    <div class="tile" id="tile-4">
        <label for="cell-4-x"></label>
        <div></div>
    </div>
    <div class="tile" id="tile-5">
        <label for="cell-5-x"></label>
        <div></div>
    </div>
    <div class="tile" id="tile-6">
        <label for="cell-6-x"></label>
        <div></div>
    </div>
    <div class="tile" id="tile-7">
        <label for="cell-7-x"></label>
        <div></div>
    </div>
    <div class="tile" id="tile-8">
        <label for="cell-8-x"></label>
        <div></div>
    </div>
</div>